body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8d5db; /* Fondo rosa claro */
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #d2124b; /* Fondo rosa oscuro */
    border-radius: 10px;
    color: #fff;
}

h1 {
    color: #e1bc00; /* Amarillo */
    font-size: 28px;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
    color: #333;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

thead {
    background-color: #5fa510; /* Verde */
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.botonesAccion {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: #315012; /* Verde Oscuro */
    color: #5fa510; /* Verde Claro */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
}

button:hover {
    background-color: #5fa510;
    color: #315012;
}

table td {
    word-wrap: break-word;
    max-width: 200px; 
    overflow: hidden;
}

@media print {
    body {
        -webkit-print-color-adjust: exact; /* For Safari and Chrome */
        print-color-adjust: exact; /* For modern browsers */
        font-size: 12px;
    }

    .botonesAccion {
        display: none !important;
    }
    

    main {
        background-color: #d2124b !important; 
    }

    table thead {
        background-color: #5fa510 !important;
    }
    table {
        page-break-inside: auto;
    }
    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }
    th, td {
        padding: 5px;
    }
}
