
/*fuente para el texto principal*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
/* Variables de colores */
:root {
    --verdeColor: #5fa510;
    --verdeOscuroColor: #315012;
    --rosaColor: #dc1659;
    --rosaOscuro: #a11245;
    --amarilloColor: #e1bc00;
    --amarilloOscuro: #d29500;
    --rosaClaro: rgb(248, 213, 219); 
    --grisOscuro: #3c3c3c; 
}

/*++++++++++++++++++++++++++++++++++*/
/*+++++++ Estilos generales +++++++*/
/*++++++++++++++++++++++++++++++++*/

body {
    margin: 0;
}


/*+++++++++++++++++++++++++++++++++++++++*/
/*+++++++ Estilos del encabezado +++++++*/
/*+++++++++++++++++++++++++++++++++++++*/

.header {
    background-color: var(--rosaOscuro); /* Fondo rosa oscuro para encabezado */
    padding: 5px;
    overflow: hidden; 
}

/* Botones de acceso y registro */
.botones_header {
    display: flex;
    justify-content: flex-end;
    gap: 10px;  
}

.boton_acceder {
    color: var(--verdeColor);
    border: none;
    padding: 3px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
}

/* Estilo específico para el botón "Acceder" */
.boton_acceder {
    background-color: var(--verdeOscuroColor);
    
}


.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
 
}

.logo_nav {
    float: left, top;
    object-fit: scale-down;
    height: 85px;
}


.nav_opciones {
    display: flex;
    width: 100%; 
    height: 100%;
    overflow: hidden;
}

.nav_opciones a {
    flex: 1;
    
    /*el lugar deonde se encuentra la letra*/
    text-align: center;
    margin-top: 0%;  
    font-size: 150%;
    font-family: Caveat, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    /*color de la letra*/
    color: var(--amarilloColor);
}

.nav_opciones a:hover {
    background-color: var(--rosaColor); 
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo del la pestaña de inicio ++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++*/

#pestaña_principal {
    background-color: var(--rosaClaro); /* Fondo rosa para toda la sección */
    height: 85vh; /* Altura ajustable, puedes cambiarla a tu preferencia */
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido dentro de la sección */
    justify-content: space-between; /* Coloca los elementos a los extremos: logo a la izquierda, descripción a la derecha */
    padding: 25px; /* Espaciado interno para que los elementos no estén pegados al borde */

}

/* Estilos para el logo */
.pestaña_principal_logo img {
    max-width: 100%; /* Asegura que el logo se ajuste bien al contenedor */
    height: 100%; /* Mantiene la proporción de la imagen */
}

/* Estilos para la descripción */
.pestaña_principal_descripcion {
    max-width: 59%; /* Limita el ancho de la descripción para que no ocupe toda la sección */
}

/* Estilos para el título */
.pestaña_principal_descripcion p {
    font-family: Penultimate, cursive;
    font-weight:normal;
    color: var(--verdeOscuroColor); /* Cambia el color del texto */
    font-size: 37px; /* Ajusta el tamaño del texto */
    line-height: 1.5; /* Espaciado entre líneas */
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo del la pestaña de Servicios ++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/

/* Estilo para la sección */
#servicios {
    background-color: var(--rosaOscuro);
    padding: 10px 25px;
    height: 97vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto; 
    gap: 20px; 
    justify-items: center; 
    align-items: center; 
}

.servicios_titilo {
    color: var(--amarilloColor);
    margin-top: 0px;
    margin-bottom: -20px;
    font-size: 40px;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    text-align: center;
    grid-column: 1 / span 2; 
}

.item_servicio {
    background-color: var(--rosaClaro);
    padding: 10px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 75%; 
    transition: transform 0.3s ease;
}

.item_servicio:hover {
    transform: scale(1.05);
}

.contenedor_de_imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho del item */
    height: 100%; /* Ocupa todo el alto del item */
    z-index: 1;
    /* Añadir un gradiente blanqueado para mejorar la legibilidad del texto */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 80%);
}

.contenedor_de_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Se adapta al tamaño del contenedor sin recortarse */
    border-radius: 8px;
    filter: brightness(0.75); /* Reduce un poco el brillo de la imagen */
}

/* Efecto para mejorar la legibilidad del texto */
.item_servicio h3, 
.item_servicio ul {
    z-index: 2;
    color: var(--rosaClaro); /* Texto casi blanco para mejor contraste */
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7); /* Añade sombra al texto para que resalte */
}

.item_servicio h3 {
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 5px;
}


.item_servicio ul {
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-size: 20px;
    list-style-type: none;
    font-style: italic;
    text-align: center;
    margin: 5px 0;
}

.item_servicio button {
    z-index: 2; 
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
    background-color: var(--amarilloColor); 
    color: var(--rosaOscuro);
    border: none;
    cursor: pointer; 
    transition: background-color 0.5s ease; 
    border-radius: 8px;
    padding: 10px 80px;
    display: none; /* Esconde el botón por defecto */
}

.item_servicio:hover .btn_saber_mas {
    display: block; /* Muestra el botón solo cuando el mouse esté encima */
}

.item_servicio button:hover {
    background-color: transparent; 
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo de la pestaña del personal +++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/

/* Estilos generales */
#personal {
    padding: 40px 20px;
    background-color: var(--rosaClaro); /* Color de fondo para la sección */
}

.personal_titulo {
    font-size: 50px;
    color: var(--amarilloColor); /* Color de texto del título */
    text-align: center;
    margin-bottom: 10px;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
}

/* Estilos para los contenedores de los empleados */
.personal_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
    background-color:var(--rosaClaro);
    border-radius: 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease-in-out;
}

.personal_items:nth-child(even) {
    flex-direction: row-reverse; /* Alternar imagen y texto */
}

.personal_items:hover {
    transform: scale(1.03);
}

/* Estilos para las imágenes (cuadradas) */
.imagen_personal img {
    width: 250px;
    height: 250px;
    border-radius: 10px; /* Hacer las imágenes cuadradas con esquinas ligeramente redondeadas */
    object-fit: cover;
    margin: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen_personal {
    flex: 1;
}

/* Estilos para la descripción */
.descripcion_personal {
    flex: 2;
    max-width: 600px;
}

.descripcion_personal h1 {
    font-family: Nunito, sans-serif; /* Fuente para el nombre */
    font-weight: bold;
    color: var(--amarilloColor); /* Color para el nombre */
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.descripcion_personal h3 {
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-style: italic; /* Estilo cursiva */
    color: var(--verdeOscuroColor); /* Color para el subtítulo */
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.descripcion_personal p {
    font-family: Georgia, serif; /* Fuente para el texto */
    font-weight: normal;
    color: var(--verdeColor); /* Color para el texto */
    font-size: 1rem;
    line-height: 1.6;
}

/* Responsividad */
@media (max-width: 768px) {
    .personal_items {
        flex-direction: column;
        text-align: center;
    }

    .personal_items:nth-child(even) {
        flex-direction: column; /* Revertir a diseño vertical en móviles */
    }

    .imagen_personal img {
        margin-bottom: 20px;
    }

    .descripcion_personal {
        text-align: center;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo de la pestaña de noticias ++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/

.noticias {
    background-color: var(--rosaOscuro);
    padding: 20px;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noticias_titulo {
    text-align: center;
    color: var(--amarilloOscuro);
    font-size: 2rem;
    margin-bottom: 20px;
}

.carrusel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    max-width: 1200px; /* Ajusta este valor según el tamaño máximo deseado */
    position: relative;
    scroll-behavior: smooth;
}

.boton_noticias {
    flex-shrink: 0;
    margin: 0 10px; /* Reduce el margen para acercar los botones al carrusel */
}

.carrusel {
    display: flex;
    gap: 10px; /* Ajusta el espacio entre cada noticia */
    flex: 1; /* Permite que el carrusel ocupe el espacio restante */
    overflow: hidden;
    

}

.noticia_op {
    
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--rosaClaro);
    border-radius: 10px;
    text-align: center;
    flex: 0 0 calc(33.33% - 10px);
    margin-right: 10px;
    transition: transform 0.5s ease;
    z-index: 5; 

}

.imagen_noticia img {
    width: 100%;
    border-radius: 10px;
}

.descripcion_noticia h4 {
    background-color: var(--amarilloOscuro);
    color: var(--rosaOscuro);
    display: inline-block;
    padding: 3px 5px;
    border-radius: 15px;
    font-size: 10px;
}

.descripcion_noticia p {
    color: var(--verdeColor);
    font-size: 0.9rem;
}

.descripcion_noticia h1 {
    color: var(--verdeOscuroColor);
    font-size: 1.2rem;
}

.prev, .next {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    z-index: 10; /* Asegura que los botones estén por encima del carrusel */
}

.prev:hover, .next:hover {
    background-color: var(--rosaColor);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo de la pestaña de Preguntas y respuestas ++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.pregunta_y_resenas {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: var(--rosaClaro);
    border-radius: 10px;
}

.preguntas, .reseñas {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.pregunta-formulario, .reseña-formulario {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.pregunta-formulario input, .reseña-formulario input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pregunta-formulario button, .reseña-formulario button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reseña-formulario select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.preguntas-lista .pregunta, .reseñas-lista .reseña {
    margin-bottom: 15px;
}

.preguntas-lista .pregunta p, .reseñas-lista .reseña p {
    margin: 5px 0;
}

.respuesta {
    color: #555;
}

.fecha {
    font-size: 12px;
    color: #888;
}

.ver-mas {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.ver-mas:hover {
    text-decoration: underline;
}

.reseñas .calificacion {
    font-size: 20px;
    color: #f39c12;
    margin-bottom: 5px;
}






/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo de la pestaña de contactos++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/


.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--rosaOscuro);
}

.contact-info {
    flex: 1;
    margin-right: 20px;
    color: var(--amarilloColor);
}

.contact-form {
    flex: 1;
    background-color: var(--rosaOscuro);
    padding: 20px;
    border-radius: 8px;
}

.contact-form .input-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    color: var(--amarilloColor);
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    background-color: var(--rosaClaro);
    border: 0;
    /*border: 1px solid var(--amarilloOscuro);*/
    border-radius: 4px;
}

.contact-form button {
    background-color: var(--verdeColor);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--verdeOscuroColor);
}

.notification {
    display: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 4px;
}

.notification.success {
    background-color: var(--verdeColor);
    color: white;
}

.notification.error {
    background-color: var(--rosaColor);
    color: white;
}


/*++++++++++++++++++++++++++++++++*/
/*++++++ Estilo de Footer++++++++*/
/*++++++++++++++++++++++++++++++*/
footer{
padding: 20px;
background-color: var(--rosaOscuro);
color: var(--rosaClaro);
text-align: center;
margin-top: auto;
}

.footer_content {
height: 10vh;
padding: 20px;
text-align: center;
}

i{
width: 50px;
}

a{
font-size: 30px;
text-decoration: none;
color:var(--rosaClaro);
transition: font-size 0.2s ease-in-out;
margin: 0px 10px;
}

a :visited{
text-decoration: none;
color: var(--rosaClaro);
}

footer a:hover{
font-size: 38px;
}
