
/*fuente para el texto principal*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
/* Variables de colores */
:root {
    --verdeColor: #5fa510;
    --verdeOscuroColor: #315012;
    --rosaColor: #dc1659;
    --rosaOscuro: #a11245;
    --amarilloColor: #e1bc00;
    --amarilloOscuro: #d29500;
    --rosaClaro: rgb(248, 213, 219); 
    --grisOscuro: #3c3c3c; 
}

/*++++++++++++++++++++++++++++++++++*/
/*+++++++ Estilos generales +++++++*/
/*++++++++++++++++++++++++++++++++*/

body {
    margin: 0;
    overflow-x: hidden;
}


/*+++++++++++++++++++++++++++++++++++++++*/
/*+++++++ Estilos del encabezado +++++++*/
/*+++++++++++++++++++++++++++++++++++++*/

.header {
    background-color: var(--rosaOscuro); /* Fondo rosa oscuro para encabezado */
    padding: 5px;
    overflow: hidden; 
    height: auto;
    width: 100%;
    z-index: 10001;
    
}

/* Botones de acceso y registro */
.botones_header {
    display: flex;
    justify-content: flex-end;
    gap: 10px;  
}

.boton_acceder {
    color: var(--verdeColor);
    border: none;
    padding: 3px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
}
.boton_logout{
    color: var(--amarilloOscuro);
    border: none;
    padding: 3px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
}

/* Estilo específico para el botón "Acceder" */
.boton_acceder {
    background-color: var(--verdeOscuroColor);
    
}

/*Cuando se loguea un usuario se muestra esto: */
.fa-solid{
    font-weight: 500;
    font-size: x-large;
    position: relative;
    left: 30px;
    vertical-align:super;
    color:var(--amarilloColor)
}
.span_saludo{
    color:var(--amarilloColor);
    font-size: 17px; 
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    vertical-align:middle;
}



/* Estilos generales */
.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}

.logo_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 85px;
}

.logo_nav img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav_opciones {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    transition: all 0.5s ease;
}

.nav_opciones a {
    flex: 1;
    text-align: center;
    margin-top: 0;
    font-size: 150%;
    font-family: Caveat, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    color: var(--amarilloColor);
    text-decoration: none; /* Asegura que los enlaces no tengan subrayado */
}

.nav_opciones a:hover {
    background-color: var(--rosaColor);
}

/* Estilos del ícono hamburguesa */
.burger {
    display: none; /* Oculto por defecto, visible solo en pantallas pequeñas */
    position: absolute;
    right: 20px; /* Colocar a la derecha */
    top: 20px; /* Ajustar según sea necesario */
    width: 25px; /* Más pequeño */
    height: 25px; /* Más pequeño */
    background: transparent;
    cursor: pointer;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--amarilloColor); /* Color amarillo */
    border-radius: 9px;
    left: 0;
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 20px; /* Ajustado para que la animación sea fluida */
    left: 5px;
}

/* Responsive: Pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .burger {
        display: block; /* Mostrar ícono hamburguesa */
    }

    .nav_opciones {
        display: none; /* Ocultar menú por defecto */
        flex-direction: column;
        width: 100%;
        position: absolute; /* Asegura que el menú se muestre sobre otros elementos */
        top: 60px; /* Ajustar según sea necesario */
        left: 0;
        background-color: white; /* Color de fondo para el menú desplegado */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el menú desplegado */
    }

    .burger input:checked ~ .nav_opciones {
        display: flex; /* Mostrar menú cuando se haga clic en el ícono hamburguesa */
    }

    .nav_opciones a {
        text-align: left;
        padding: 10px 20px;
        font-size: 120%;
        width: 100%;
        color: var(--amarilloColor); /* Color de texto */
    }

    .nav_opciones a:hover {
        background-color: var(--rosaColor);
    }
}


/*++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo del la pestaña de inicio ++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++*/

#pestaña_principal {
    background-color: var(--rosaClaro); /* Fondo rosa para toda la sección */
    height: 85vh; /* Altura ajustable, puedes cambiarla a tu preferencia */
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido dentro de la sección */
    justify-content: space-between; /* Coloca los elementos a los extremos: logo a la izquierda, descripción a la derecha */
    padding: 25px; /* Espaciado interno para que los elementos no estén pegados al borde */

}

/* Estilos para el logo */
.pestaña_principal_logo img {
    max-width: 100%; /* Asegura que el logo se ajuste bien al contenedor */
    height: 100%; /* Mantiene la proporción de la imagen */
}

/* Estilos para la descripción */
.pestaña_principal_descripcion {
    max-width: 59%; /* Limita el ancho de la descripción para que no ocupe toda la sección */
}

/* Estilos para el título */
.pestaña_principal_descripcion p {
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    color: black; /* Cambia el color del texto */
    font-size: 50px; /* Ajusta el tamaño del texto */
    line-height: 1.5; /* Espaciado entre líneas */
}
/* Media Queries para ajustar en diferentes tamaños de pantalla */
@media (max-width: 1024px) {
    .pestaña_principal_descripcion p {
        font-size: 3vw; /* Ajusta el tamaño de la fuente para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .pestaña_principal_descripcion p {
        font-size: 3.5vw; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .pestaña_principal_logo img {
        width: 30%; /* Ajusta el tamaño del logo para pantallas muy pequeñas */
    }
    .pestaña_principal_descripcion p {
        font-size: 4vw; /* Ajusta el tamaño del texto para pantallas muy pequeñas */
    }
}

/* Media Query para pantallas menores a 550px */
@media (max-width: 550px) {
    #pestaña_principal {
        justify-content: flex-start; /* Alinea el contenido al inicio para evitar espacio */
        padding: 15px; /* Reduce el padding para que los elementos queden más juntos */
        height: auto;
    }

    .pestaña_principal_logo img {
        width: 30%; /* Reduce un poco más el tamaño del logo */
    }

    .pestaña_principal_descripcion {
        max-width: 70%; /* Asegura que el texto tenga más espacio */
    }

    .pestaña_principal_descripcion p {
        font-size: 3.8vw; /* Reduce un poco el tamaño de la fuente */
    }
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo del la pestaña de Servicios ++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/

/* Estilo para la sección */
#servicios {
    background-color: var(--rosaOscuro);
    padding: 10px 25px;
    height: 97vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto; 
    gap: 20px; 
    justify-items: center; 
    align-items: center; 
}

.servicios_titilo {
    color: var(--amarilloColor);
    margin-top: 0px;
    margin-bottom: -20px;
    font-size: 40px;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    text-align: center;
    grid-column: 1 / span 2; 
}

.item_servicio {
    background-color: var(--rosaClaro);
    padding: 10px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 75%; 
    transition: transform 0.3s ease;
}

.item_servicio:hover {
    transform: scale(1.05);
}

.contenedor_de_imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho del item */
    height: 100%; /* Ocupa todo el alto del item */
    z-index: 1;
    /* Añadir un gradiente blanqueado para mejorar la legibilidad del texto */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 80%);
}

.contenedor_de_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Se adapta al tamaño del contenedor sin recortarse */
    border-radius: 8px;
    filter: brightness(0.75); /* Reduce un poco el brillo de la imagen */
}

/* Efecto para mejorar la legibilidad del texto */
.item_servicio h3, 
.item_servicio ul {
    z-index: 2;
    color: var(--rosaClaro); /* Texto casi blanco para mejor contraste */
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7); /* Añade sombra al texto para que resalte */
}

.item_servicio h3 {
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 5px;
}


.item_servicio ul {
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-size: 20px;
    list-style-type: none;
    font-style: italic;
    text-align: center;
    margin: 5px 0;
}

.item_servicio button {
    z-index: 2; 
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
    background-color: var(--amarilloColor); 
    color: var(--rosaOscuro);
    border: none;
    cursor: pointer; 
    transition: background-color 0.5s ease; 
    border-radius: 8px;
    padding: 10px 80px;
    display: none; /* Esconde el botón por defecto */
}

.item_servicio:hover .btn_saber_mas {
    display: block; /* Muestra el botón solo cuando el mouse esté encima */
}

.item_servicio button:hover {
    background-color: transparent; 
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo de la pestaña del personal +++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/

/* Estilos generales */
#personal {
    padding: 40px 20px;
    background-color: var(--rosaClaro); /* Color de fondo para la sección */
}

.personal_titulo {
    font-size: 50px;
    color: var(--amarilloColor); /* Color de texto del título */
    text-align: center;
    margin-bottom: 10px;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
}

/* Estilos para los contenedores de los empleados */
.personal_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
    background-color:var(--rosaClaro);
    border-radius: 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease-in-out;
}

.personal_items:nth-child(even) {
    flex-direction: row-reverse; /* Alternar imagen y texto */
}

.personal_items:hover {
    transform: scale(1.03);
}

/* Estilos para las imágenes (cuadradas) */
.imagen_personal img {
    width: 250px;
    height: 250px;
    border-radius: 10px; /* Hacer las imágenes cuadradas con esquinas ligeramente redondeadas */
    object-fit: cover;
    margin: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen_personal {
    flex: 1;
}

/* Estilos para la descripción */
.descripcion_personal {
    flex: 2;
    max-width: 600px;
}

.descripcion_personal h1 {
    font-family: Nunito, sans-serif; /* Fuente para el nombre */
    font-weight: bold;
    color: var(--amarilloColor); /* Color para el nombre */
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.descripcion_personal h3 {
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-style: italic; /* Estilo cursiva */
    color: var(--verdeOscuroColor); /* Color para el subtítulo */
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.descripcion_personal p {
    font-family: Georgia, serif; /* Fuente para el texto */
    font-weight: normal;
    color: var(--verdeColor); /* Color para el texto */
    font-size: 1rem;
    line-height: 1.6;
}

/* Responsividad */
@media (max-width: 768px) {
    .personal_items {
        flex-direction: column;
        text-align: center;
    }

    .personal_items:nth-child(even) {
        flex-direction: column; /* Revertir a diseño vertical en móviles */
    }

    .imagen_personal img {
        margin-bottom: 20px;
    }

    .descripcion_personal {
        text-align: center;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo de la pestaña de noticias ++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/

.noticias {
    background-color: var(--rosaOscuro);
    padding: 20px;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noticias_titulo {
    text-align: center;
    color: var(--amarilloOscuro);
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.carrusel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    max-width: 1200px; /* Ajusta este valor según el tamaño máximo deseado */
    position: relative;
}

.boton_noticias {
    flex-shrink: 0;
    margin: 0 10px;
}

.carrusel {
    display: flex;
    gap: 10px;
    flex: 1;
    overflow: hidden;
}

.noticia_op {
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--rosaClaro);
    border-radius: 10px;
    text-align: center;
    flex: 0 0 calc(33.33% - 10px); /* Muestra 3 noticias a la vez */
    transition: transform 0.5s ease;
}

.imagen_noticia {
    width: 100%; /* Asegura que el contenedor de la imagen ocupa todo el espacio disponible */
    height: 200px; /* Ajusta la altura según tus necesidades */
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen_noticia img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
    border-radius: 10px;
}

.descripcion_noticia h4 {
    background-color: var(--amarilloOscuro);
    color: var(--rosaOscuro);
    display: inline-block;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 15px;
    font-size: 10px;
}

.descripcion_noticia p {
    color: var(--verdeColor);
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 0.8rem;
}

.descripcion_noticia h1 {
    color: var(--verdeOscuroColor);
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.boton_noticias {
    flex-shrink: 0;
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido del botón */
}

.boton_noticias button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    height: 200px; /* Ajusta esta altura para que coincida con la altura de las noticias */
    display: flex;
    align-items: center; /* Alinea verticalmente el texto del botón */
    justify-content: center; /* Centra el texto horizontalmente */
}


.prev:hover, .next:hover {
    background-color: var(--rosaColor);
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo de la pestaña de Preguntas y respuestas ++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.pregunta_y_resenas {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: var(--rosaClaro);
    border-radius: 10px;
}

.preguntas, .reseñas {
    flex: 1;
    background-color: var(--rosaClaro);
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    color: var(--amarilloColor);
    font-size: 35px;
    margin-bottom: 20px;
}

.pregunta-formulario, .reseña-formulario {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.pregunta-formulario input, .reseña-formulario input {
    flex: 1;
    padding: 10px;
    background-color: var(--rosaClaro); 
    border: 1px solid var(--rosaOscuro);
    border-radius: 5px;
    color: var(--verdeOscuroColor); 
    font-family: "Comic Sans MS", cursive; 
    font-size: 16px; 
}

.pregunta-formulario input:focus, .reseña-formulario input:focus {
    border-color: var(--verdeOscuroColor); /* Cambia el color del borde al hacer foco */
    outline: none; /* Quita el borde azul por defecto */
}

.pregunta-formulario button, .reseña-formulario button {
    padding: 10px 20px;
    background-color: var(--verdeOscuroColor);
    color: var(--verdeColor);
    border: none;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.reseña-formulario select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--verdeOscuroColor);
    color: var(--verdeOscuroColor); /* Cambia el color del texto */
    font-family: "Comic Sans MS", cursive; 
    font-size: 16px; /* Cambia el tamaño de la letra */
}

.preguntas-lista .pregunta, .reseñas-lista .reseña {
    margin-bottom: 15px;
}

.preguntas-lista .pregunta p, .reseñas-lista .reseña p {
    margin: 5px 0;
}

.preguntas-lista .pregunta {
    font-family: Georgia, serif;
    font-weight: normal;
    color: var(--verdeOscuroColor); 
}

/* Cambiar color de las reseñas */
.reseñas-lista .reseña p {
    font-family: Georgia, serif;
    font-weight: normal;
    color: var(--verdeOscuroColor); 
}

.respuesta {
    color: var(--verdeColor);
    font-family: Lora, sans-serif;
    font-weight: normal;
    font-style: italic;
}

.fecha {
    font-size: 12px;
    color: var(--verdeColor);
}

.ver-mas {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: var(--amarilloColor);
    text-decoration: none;
    font-size: 29px;
    font-family: Caveat, sans-serif;
    font-weight: bold;
}

.ver-mas:hover {
    text-decoration: underline;
}

.calificacion-estrellas {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.calificacion-estrellas .estrella.seleccionada {
    color: #f39c12;
}

.reseñas .calificacion {
    font-size: 20px;
    color: #f39c12;
    margin-bottom: 5px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Para asegurarnos de que no haya scroll fuera del modal */
  }
  
.modal-content {
    background-color: var(--rosaClaro);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 70vh;
    overflow-y: auto; /* Scroll en el contenido del modal */
    border-radius: 10px;
    position: relative;
  }
  
  .cerrar-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(--rosaOscuro);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cerrar-modal:hover, .cerrar-modal:focus {
    color: var(--verdeOscuroColor);
  }
  
.modal-body {
    background-color: var(--rosaClaro);
    margin: 15% auto;
    padding: 20px;
    color: var(--verdeOscuroColor);
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
 
}
  
  /* Clase para deshabilitar el scroll en la página principal */
  .no-scroll {
    overflow: hidden;
  }
  /* Media Query para pantalla con un ancho máximo de 969px y una altura máxima de 546px */
@media screen and (max-width: 969px) and (max-height: 633px) {
    .pregunta_y_resenas {
        flex-direction: column;
    }

    .preguntas, .reseñas {
        width: 100%;
    }
}
/* Media Query para pantalla con un ancho máximo de 600px y una altura máxima de 600px */
@media screen and (max-width: 600px) and (max-height: 600px) {
    /* Cambiar disposición a columna en el formulario de reseñas */
    .reseña-formulario {
        flex-direction: column;
    }

    .calificacion-estrellas {
        margin-top: 10px; /* Espacio entre el input y las estrellas */
    }

    /* Cambiar disposición a columna en el formulario de preguntas */
    .pregunta-formulario {
        flex-direction: column;
    }

    .pregunta-formulario button {
        margin-top: 10px; /* Añadir margen superior al botón para separarlo del input */
    }
}


  


/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ Estilo de la pestaña de contactos++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/


/* Contenedor principal */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background-color: var(--rosaOscuro);
}

/* Estilos para la sección de información */
.contact-info {
    width: 45%; /* Ajuste para que ocupe el 45% del ancho */
}

.contact-info h2 {
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    color: var(--amarilloColor);
}

.contact-info p {
    font-family: Georgia, serif;
    font-weight: normal;
    color: var(--rosaClaro);
}

.contact-info a {
    color: var(--rosaClaro);
    font-family: 'Courier New', monospace;
    text-decoration: underline;
}

.map iframe {
    width: 100%;
    height: 350px;
}

/* Estilos para el formulario de contacto */
.contact-form {
    width: 55%; /* Ajuste para que ocupe el 45% del ancho */
    background-color: var(--rosaOscuro);
    padding: 20px;
    border-radius: 8px;
    font-family: Caveat, sans-serif;
}

.contact-form label {
    color: var(--amarilloColor);
    font-family: Caveat, sans-serif;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    background-color: var(--rosaClaro);
    color: var(--rosaOscuro);
    border: none;
    padding: 10px;
    font-family: "Comic Sans MS", cursive; 
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
/* Estilos para el textarea (input del mensaje) */
.contact-form textarea {
    background-color: var(--rosaClaro);
    color: var(--rosaOscuro);
    border: none;
    padding: 10px;
    font-family: "Comic Sans MS", cursive;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    height: 1px; /* Aumentamos la altura del textarea */
    resize: vertical; /* Solo permitir que el usuario cambie el tamaño verticalmente */
}


.contact-form .name-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contact-form .name-group .input-group {
    width: 48%;
}

.contact-form button {
    background-color:var(--verdeOscuroColor);
    color: var(--verdeColor);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
    width: 80%;
    margin-top: 20px;
    width: 200px; /* Establecemos un ancho fijo para centrarlo mejor */
    margin: 20px auto 0; /* Centramos el botón */
}

.notification {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.notification.success {
    background-color: green;
    color: var(--amarilloColor);
}

.notification.error {
    background-color:var(--rosaColor);
    color: var(--amarilloColor);
}


/*++++++++++++++++++++++++++++++++*/
/*++++++ Estilo de Footer++++++++*/
/*++++++++++++++++++++++++++++++*/
footer{
padding: 20px;
background-color: var(--rosaOscuro);
color: var(--rosaClaro);
text-align: center;
justify-content: space-between;
margin-top: auto;
position: relative;
display: flex;
;
}

.footer_content {
height: 10vh;
padding: 0px;
display: flex;
text-align: center;
align-items: center;
position: relative;
}
#footer_cv{
    display: flex;
    align-items: center; /* Cambia a center si deseas centrar verticalmente */
    justify-content: flex-end; /* Cambia a flex-end si deseas alinear a la derecha */
    flex-direction: row;
}

#footer_cv label{
    position: relative;
    color: #f39c12;
    bottom: 5px;
}
#footer_cv a{
    position: relative;
    bottom: 5px;
}

i{
width: 50px;
}

a{
font-size: 30px;
text-decoration: none;
color:var(--rosaClaro);
transition: font-size 0.2s ease-in-out;
margin: 0px 10px;
vertical-align: bottom;
}

a :visited{
text-decoration: none;
color: var(--rosaClaro);
}

footer a:hover{
font-size: 38px;
}

iframe {
    width: 100%; /* Hace que el iframe ocupe todo el ancho del contenedor */
    /* height: 100%; Hace que el iframe ocupe toda la altura del contenedor */
    border: 0; /* Elimina el borde del iframe */
}

#redes_sociales_anchor{
    font-size: 15px;
    color: var(--amarilloColor);
    font-weight: bold;
    font-style: italic;
    margin: 0;
}
#redes_sociales_anchor:hover{
    color: var(--verdeColor);
}
.email_redirection{
    cursor: pointer; 
    background-color: var(--verdeColor); 
    color: #ccc;
    padding: 10px 20px; 
    font-size: 15px;
}
.email_redirection:hover{
    background-color: #315012;
    font-size: 15px;
}

/*BOTON FILE*/
/* input[type="file"]::file-selector-button {
    background-color: var(--amarilloOscuro); 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    margin: 4px 2px; 
    cursor: pointer; 
    content: "Enviar CV";
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: var(--amarilloColor); 
  } */



/* ============================
   Media Queries
============================ */
/* Para pantallas pequeñas (móviles en modo retrato) */
@media (max-width: 767px) {

    /* Ajustes generales */
    body {
        font-size: 14px; /* Ajustar tamaño de fuente */
        overflow-x: hidden;
    }

    /* Encabezado y botones */
    .botones_header {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav_opciones a {
        font-size: 120%; /* Reducir tamaño de fuente en la navegación */
    }

    /* Pestaña principal */
    #pestaña_principal {
        flex-direction: column; /* Colocar logo y descripción uno debajo del otro */
        align-items: center;
        text-align: center;
    }

    .pestaña_principal_descripcion {
        max-width: 100%; /* Asegurar que la descripción ocupe todo el ancho disponible */
    }

    .pestaña_principal_logo img {
        height: auto; /* Permitir que la imagen escale */
        max-width: 70%; /* Limitar el ancho de la imagen */
    }

    /* Servicios */
    #servicios {
        grid-template-columns: 1fr; /* Colocar una columna */
        grid-template-rows: auto; /* Ajuste automático de filas */
    }

    .item_servicio {
        width: 90%; /* Aumentar el ancho del item de servicio */
    }

    /* Personal */
    #personal {
        grid-template-columns: 1fr; /* Colocar una sola columna */
    }

    .imagen_personal img {
        max-width: 100%; /* Imagen a 100% del contenedor */
    }

    /* Noticias */
    .carrusel-container {
        flex-direction: column; /* Colocar el carrusel en columna */
    }

    .noticia_op {
        flex: 0 0 100%; /* Asegurar que las noticias ocupen todo el ancho disponible */
    }

    /* Contacto */
    .contact-section {
        flex-direction: column;
    }

    .contact-info, .contact-form {
        margin-right: 0;
        width: 100%; /* Asegurar que ambos contenedores ocupen todo el ancho disponible */
    }
}

/* Para pantallas medianas (tablets y pantallas pequeñas) */
@media (min-width: 768px) and (max-width: 1023px) {

    /* Navegación */
    .nav_opciones a {
        font-size: 130%;
    }

    /* Servicios */
    #servicios {
        grid-template-columns: 1fr 1fr; /* Mantener dos columnas, pero más anchas */
        grid-template-rows: auto; /* Ajuste automático */
    }

    .item_servicio {
        width: 90%; /* Aumentar el ancho de los ítems */
    }

    /* Personal */
    #personal {
        grid-template-columns: 1fr 1fr; /* Dos columnas */
    }

    /* Noticias */
    .carrusel-container {
        max-width: 1000px; /* Ajustar el tamaño máximo del carrusel */
    }

    .noticia_op {
        flex: 0 0 calc(50% - 10px); /* Dos noticias por fila */
    }

    /* Contacto */
    .contact-info, .contact-form {
        width: 48%; /* Ocupan la mitad del ancho disponible */
    }
}

/* Para pantallas grandes (escritorio) */
@media (min-width: 1024px) {
    /* Servicios */
    #servicios {
        grid-template-columns: repeat(2, 1fr); /* Mantener dos columnas */
    }

    .item_servicio {
        width: 80%;
    }

    /* Noticias */
    .noticia_op {
        flex: 0 0 calc(33.33% - 10px); /* Tres noticias por fila */
    }
}