/*fuente para el texto principal*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
/* Variables de colores */
:root {
    --fondoClaro: #ffe5f0; 
    --fondoOscuroHover: #c594aa;
    --fondoOscuro:#fdcae1 ;
    --amarilloColor: #efb810;
    --verdeColor: #009929;
    --verdeOscuroColor: #006414;
}

/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: var(--fondoClaro);
    color: var(--amarilloColor);
    margin: 0;
    padding: 0;
}

/* Contenedor principal de reservas */
.carrito-reservas {
    background-color: var(--fondoClaro);
    padding: 20px;
    border-radius: 10px;
}

/* Título de la sección */
h2 {
    text-align: center;
    color: var(--amarilloColor);
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    font-size: 50px;
}

/* Contenido de reservas */
.contenido-reservas {
    display: flex;
    justify-content: space-between;
}
/*
.checkbox-turno {
    display: none;
}
*/
/* Lista de turnos */
#lista-turnos {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 65%;
    max-height: 350px; /* Ajusta el valor según el diseño */
    overflow-y: auto; /* Activa el scroll vertical */
}

#lista-turnos li {
    background-color: var(--fondoOscuroHover);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: var(--verdeOscuroColor);
    display: flex;
    justify-content: space-between;
    
    font-size: 20px;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    cursor: pointer; 
}

#lista-turnos li.seleccionado {
    background-color: var(--fondoOscuro);
    border: 2px solid var(--amarilloColor);
    color: var(--verdeColor);
}
/* Estilo del total */
.total {
    width: 30%;
    text-align: center;
    background-color: var(--fondoOscuro);
    padding: 20px;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Precio total */
#total-precio {
    font-weight: bold;
    color: var(--verdeColor);
}

/* Botón de pagar */
#boton-pagar {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--verdeOscuroColor); 
    color:var(--verdeColor); 
    border: 2px solid var(--verdeColor);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
}

#boton-pagar:hover {
    background-color: var(--verdeColor);
    color: var(--verdeOscuroColor);
    border: 2px solid var(--verdeOscuroColor);
}
/* Estilo de texto para el checkbox de "Seleccionar Todos" */
#texto-seleccionar {
    font-family: 'Dancing Script', sans-serif;
    font-size: 25px;
    color: var(--amarilloColor);
    font-weight: bold;
}


