/* Variables de colores */
:root {
    --verdeColor: #5fa510;
    --verdeOscuroColor: #315012;
    --rosaColor: #dc1659;
    --rosaOscuro: #a11245;
    --amarilloColor: #e1bc00;
    --amarilloOscuro: #d29500;
<<<<<<< HEAD
    --grisClaro: hsl(0, 68%, 94%); 
=======
    --grisClaro: #f5f5f5; 
>>>>>>> edf4d78c6f61dcefc7fba22509bac3ee7fcb0978
    --grisOscuro: #3c3c3c; 
}

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    font-family: "Grand Hotel", cursive;
    font-style: normal;
=======
>>>>>>> edf4d78c6f61dcefc7fba22509bac3ee7fcb0978
}

body {
    background-color: var(--rosaOscuro);
    min-width: 940px;
    font-family: Arial, sans-serif;
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
=======
>>>>>>> edf4d78c6f61dcefc7fba22509bac3ee7fcb0978
}

/* Estilos para la barra de navegación */
nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--rosaOscuro);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .Logo img {
    height: 85px;
    width: auto;
    margin-right: 20px; /* Corregido el margin con unidad */
}

.nav_ul_buttons {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

.nav_ul_buttons div {
    background-color: var(--rosaOscuro);
    color: var(--amarilloColor);
<<<<<<< HEAD
    font-size: 25px;
=======
>>>>>>> edf4d78c6f61dcefc7fba22509bac3ee7fcb0978
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul.nav_ul_buttons li {
    margin: 0 5px;
}

.nav_ul_buttons div:hover {
    background-color: var(--rosaColor);
}

/* Estilo específico para el botón "Acceder" */
.acceder_boton {
    background-color: var(--verdeColor);
<<<<<<< HEAD
    font-size: 25px;
=======
>>>>>>> edf4d78c6f61dcefc7fba22509bac3ee7fcb0978
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Estilo para el botón de Registrarse */
.registrarse_boton {
    background-color: var(--verdeOscuroColor);
    color: white;
<<<<<<< HEAD
    font-size: 25px;
=======
>>>>>>> edf4d78c6f61dcefc7fba22509bac3ee7fcb0978
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Estilos para el header */
header {
<<<<<<< HEAD
    display: flex;
    align-items: center;
=======
>>>>>>> edf4d78c6f61dcefc7fba22509bac3ee7fcb0978
    padding: 50px 20px;
    background-color: var(--grisClaro);
    text-align: center;
}

.header_logo img {
<<<<<<< HEAD
    width: 400px;
=======
    width: 100%;
>>>>>>> edf4d78c6f61dcefc7fba22509bac3ee7fcb0978
    max-width: 300px;
    height: auto;
}

<<<<<<< HEAD
.header_descripcion h1{
    font-size: 1.5rem;
    text-align: start;
    font-size: 40px;
    
    line-height: 1.6;
    color: var(--verdeOscuroColor);
}

/* Estilos para el main */


main h2 {
    color: var(--amarilloColor);
    text-align: center;
    font-size: 40px;
    padding: 10px 15px 30px;
}

/* Sección de Servicios */
.services_section {
    background-color:var(--rosaOscuro);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

}

.service_item {
    background-color: var(--grisClaro);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.div_img_container {
    position: relative;
    width: 100%;
    height: 300px; 
    margin-bottom: 15px; 
   
 
}
.div_img_container img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    filter: blur(0px) drop-shadow( );
    opacity: 0.75;
    border-radius: 8px; 

    mask-image: 
    linear-gradient(180deg,black 20%, transparent );
    
}

.service_title, ul, .btn-saber-mas {

    z-index: 2;
    position: relative;
}

.service_title{
    color: var(--verdeOscuroColor);
    font-size: 1.6rem;
    margin-bottom: 10px;
}
ul {
    color: var(--verdeColor);
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
ul li {
    margin-bottom: 5px;
}
.btn-saber-mas {
    background-color: var(--rosaColor);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-saber-mas:hover {
    background-color: var(--rosaOscuro);
}

/* Sección de Personal */
.personal_section {
    display: flex;
    flex-direction: row; /* Cambiado de justify-content a flex-direction */
    background-color: var(--grisClaro);
    gap: 20px;
    
    margin: 0; /* Elimina márgenes */
    /*width: 100vw; /* Asegura que ocupe todo el ancho de la ventana gráfica */
    box-sizing: content-box; /* Incluye padding y border dentro del ancho */
    padding: 20px; /* Si quieres mantener un espaciado interno */
}

.personal_item {
    background-color: var(--rosaOscuro);
   display: flex;
    border-radius: 10px;
    text-align: center;
    gap:20 px;
    margin: 3%;
}

.personal_image img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 99%;
}

.personal_description {
    color: white;
    max-width: 600px;
}

.personal_description h3{
    margin: 0;
    font-size:1.5m;
    color:var(--amarilloColor)
}

.personal_description{
    margin: 5px 0;
    color:var(--verdeColor)
}



/*Menu Scrolling*/
.scrolling_container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.scrolling_card{
    flex:1 0 auto;



}





/* Sección de Noticias */
.news_section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.news_item {
    background-color: var(--grisClaro);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

/* Sección de Preguntas y Reseñas */
.faq_section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.faq_item, .reviews_item {
    background-color: var(--grisClaro);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    text-align: center;
}

.faq_item h4, .reviews_item h4 {
    color: var(--rosaOscuro);
    margin-bottom: 10px;
=======
.header_descripcion h1 {
    font-size: 1.5rem;
    line-height: 1.6;
    color: var(--grisOscuro);
}

/* Estilos para el main */
main {
    padding: 20px;
}

.main_div_padre {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main_div_hijo1, .main_div_hijo2 {
    flex: 1;
    padding: 20px;
    background-color: var(--grisClaro);
}

.main_image_1 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.main_descripcion {
    padding: 20px;
}

.main_descripcion h1 {
    font-size: 1.5rem;
    color: var(--grisOscuro);
}

.main_descripcion p {
    line-height: 1.6;
    color: var(--grisOscuro);
>>>>>>> edf4d78c6f61dcefc7fba22509bac3ee7fcb0978
}

/* Estilos para el footer */
footer {
    padding: 20px;
    background-color: var(--rosaOscuro);
    color: var(--grisClaro);
    text-align: center;
<<<<<<< HEAD
    margin-top: auto;
}

.footer_content {
    padding: 20px;
    text-align: center;
=======
}

.footer_redes img {
    width: 30px;
    height: auto;
    margin: 0 10px;
}

.divisor_line {
    height: 1px;
    background-color: var(--grisClaro);
    margin: 10px 0;
}

.disclaimer_copyright {
    font-size: 0.8rem;
>>>>>>> edf4d78c6f61dcefc7fba22509bac3ee7fcb0978
}
